* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #eff0f0;
  --color-secondary: #1a5276;
  --color-secondary-dark: #092739;
  --color-tertiary: #f66b06;
  --color-black: #303030;
  --color-gray: #eee;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--color-secondary-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  margin: 0 10vw;
}

.div-shadow {
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.txt-shadow {
  text-shadow: 0 0 2px var(--color-black);
}
